version: 2.1

orbs:
  unity: game-ci/unity@2.1.0

jobs:
  build-webgl:
    executor:
      name: unity/ubuntu
      resource_class: large
    steps:
      - unity/build:
          context: unity
          editor_version: 6000.2.10f1
          target_platform: webgl
          build-method: BuildWebGL.PerformBuild
          store_artifacts: true
          compress_artifacts: true
          return-license: true

workflows:
  version: 2
  build:
    jobs:
      - build-webgl