version: 2.1

orbs:
  unity: game-ci/unity@1.3.0

jobs:
  build-webgl:
    executor:
      name: unity/ubuntu
      resource_class: large
      editor_version: 6000.2.0f1
      target_platform: webgl

    steps:
      - checkout
      - unity/build:
          context: unity
          build-target: WebGL
          build-method: BuildWebGL.PerformBuild
          project-path: .
          compress: true
          store-artifacts: true
          return-license: true
          unity-license-var-name: UNITY_ENCODED_LICENSE

workflows:
  version: 2
  build:
    jobs:
      - build-webgl
