# .circleci/config.yml  ←  Versión definitiva, copia-pega tal cual
version: 2.1

jobs:
  build-webgl:
    docker:
      - image: unityci/editor:ubuntu-6000.0.62f1-webgl-3.2.0
    resource_class: large
    working_directory: ~/project

    steps:
      - checkout
      - run:
          name: Build WebGL
          command: |
            mkdir -p Build/WebGL
            xvfb-run --auto-servernum --server-args='-screen 0 640x480x24' \
              /opt/unity/Editor/Unity \
              -batchmode \
              -nographics \
              -silent-crashes \
              -projectPath . \
              -executeMethod BuildWebGL.PerformBuild \
              -logFile /dev/stdout \
              -quit

      - store_artifacts:
          path: Build/WebGL
          destination: WebGL_Build

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build-webgl