version: 2.1

orbs:
  unity: game-ci/unity@1.3.0 # Estable para tu setup

jobs:
  build-webgl:
    executor:
      name: unity/ubuntu
      resource_class: large
      editor_version: 6000.2.10f1
      target_platform: webgl

    steps:
      - checkout
      - unity/build:
          build-target: WebGL
          build-method: BuildWebGL.PerformBuild
          project-path: .
          compress: true
          step-name: Build WebGL

workflows:
  version: 2
  build:
    jobs:
      - build-webgl
        # Opcional: Filtros para branches
        # filters:
        #   branches:
        #     only: main
